<div fxFlex="100" fxFlexFill>
    <mat-sidenav-container class="right-sidebar">
        <mat-spinner></mat-spinner>

        <mat-sidenav-content fxLayout="column">
            <!-- <p class="title">Select Fields</p> -->
            <ng-container *ngFor="let field of data">
                <div fxFlex="100" style="margin-top: 5px; max-height: 5%">
                    <ng-container>
                        <div fxLayout="row" fxFlexFill>
                            <div fxFlex="9">
                                <!-- <i id="parentMatIcon" *ngIf="field.selected" class="check-icon">
                                    <img [src]="imagesPath.DataFieldSelected" alt="" height="13px" width="13px">
                                </i> -->
                            </div>
                            <!-- [disabled]="field.value" -->
                            <div fxFlex>
                                <div fxLayout="row" fxFlexFill>
                                    <button class="parent-button" id="parentFieldBtn" *ngIf="field.key"
                                         [ngClass]="{'selected':field.selected}"
                                        (click)="saveDataField(field, false)" mat-button>
                                        {{field.key}}
                                    </button>
                                    <div *ngIf="isObject(field.value)" (click)="toggleLevelOne(field)"
                                        class="parent-icon">
                                        <i class="large material-icons icon-blue"
                                            *ngIf="!field.isOpen; else removeIcon">
                                            add_circle_outline </i>
                                        <ng-template #removeIcon>
                                            <i class="large material-icons icon-blue">
                                                remove_circle_outline </i>
                                        </ng-template>
                                    </div>
                                </div>


                                <!-- <div *ngIf="isArray(field.value)" style="color: red;">
                                    You cannot select Array property
                                </div> -->

                            </div>
                        </div>

                    </ng-container>
                </div>
                <div *ngIf="field.isOpen">
                    <edf-list-data-fields [data]="field.value" [isParent]="isParentClicked" 
                    [parentName]="parentName? parentName+'.'+field.key: field.key"></edf-list-data-fields>
                </div>

            </ng-container>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<!-- 
<button mat-button (click)="onParentFieldClick()">Test Button</button> -->